name: "Webapp: deploy to Vercel on push to main"
on:
  push:
    branches:
      - main
    paths:
      - "webapp/**"
jobs:
  build_and_deploy:
    name: Build and deploy Vercel app
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Set up playwright for rehype-mermaid
        run: npx playwright install --with-deps chromium
      - uses: amondnet/vercel-action@v20
        with:
          working-directory: ./webapp
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-args: "--prod"
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}}
