name: "Webapp: deploy to Vercel on push to main"
on:
  push:
    branches:
      - main
    paths:
      - "webapp/**"
      - ".github/workflows/webapp.yml"
jobs:
  build_and_deploy:
    name: Build and deploy Vercel app
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./webapp
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Build & deploy webapp
        env:
          VERCEL_ORG_ID: ${{ secrets.ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.PROJECT_ID }}
        run: |
          npm install -g vercel
          vercel deploy --prod --yes --token ${{ secrets.VERCEL_TOKEN }}
